[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "deps/meta"]
	path = deps/meta
	url = https://github.com/ericniebler/meta.git
[submodule "deps/hana"]
	path = deps/hana
	url = https://github.com/boostorg/hana
